.new-tweet {
  background-color:  #eee;
  border-radius: 5px;
  width: 350px;
  padding: 10px;
  margin-left: 3em;
  margin-right: 3em;
  display: none;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}

.new-tweet .counter{
  float:right;
}

.new-tweet textarea{
  width: 330px;
}

.tweet-error {
  color: #D8000C;
  background-color: #FFD2D2;
  border-radius: 3px;
  display: none;

}
