#tweets-container {
  background-color:  white;
  border-radius: 5px;
  width: 350px;
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 10px
}

/*.tweet class is the <article> tag */

.tweet {
  opacity: 0.6;
  border-radius: 3px;
  padding-bottom: 5px;
  border-color: #ccc;
  border-style: solid;
  margin-top: 10px;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.tweet:hover{
  opacity: 1.0;

}

.tweet:hover .icons {
 display: block;
}

.tweet-header{

  background-color: #ccc;
  height: 60px;
  position: relative;
  padding: 5px;
  margin: 0px;

}

.tweet-img {
  margin-right: 15px;
  float: left;
  border-radius: 5px;
}

.tweet-h3 {
  float: left;
  margin-top : 5px;
  }

.tweet-address{
  position: absolute;
  float: right;
  right: 5px;
  top: 5px;
  font-size: 15px;
  margin-top : 5px;
}

.tweet-footer{
  border-top: 1px solid #ccc;
}

.icons{
  position: relative;
  float: right;
  right: 5px;
  bottom:17px;
  display: none;
  color:#00a087;
  opacity: 0.6;
}





